<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project DV</title>
</head>
<body>
    <section class="a">
        <div class="chart1">{% include 'haziq1.html' %}</div>
    </section>
    <section class="gdp-ur">
        <div class="chart3">{% include 'dv1.html' %}</div>
        <div class="chart4">{% include 'dv2.html' %}</div>
    </section>
    <section class="pop-tc">
        <div class="chart5">{% include 'da_factors.html' %}</div>
        <div class="chart6">{% include 'sankey.html' %}</div>
    </section>
</body>
</html>
<style>
    .chart1{
        text-align: center;
    }
    .gdp-ur{
        text-align: center;
        padding: 5%;
    }

</style>
